<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TeamKPro</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  	<servlet-name>PackFrontController</servlet-name>
  	<servlet-class>net.pack.action.PackFrontController</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>PackFrontController</servlet-name>
  	<url-pattern>*.po</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>ReplyFrontController</servlet-name>
  	<servlet-class>net.reply.action.ReplyFrontController</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>ReplyFrontController</servlet-name>
  	<url-pattern>*.ro</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>